.env
**/.idea/
uploads/
wp-content/uploads/
node_modules
/plugins/wp-react-blocks-plugin/blocks/build/
/plugins/wp-react-blocks-plugin/blocks/node_modules/
build
.DS_Store
dist/
.vscode/
data/
wp-content/uploads/
wp-content/plugins
wp-content/
.claude/