.env
data
**/.idea/
wordpress/uploads/
/wordpress/wp-content/uploads/
/wordpress/wp-react-blocks-plugin/blocks/build/
/wordpress/wp-react-blocks-plugin/blocks/node_modules/
/wordpress/wp-react-blocks-plugin/blocks/package-lock.json
/wordpress/wp-react-blocks-plugin/package-lock.json
