.carousel {

  width: 100%;

  @media screen and (max-width: 480px) {
    height: 400px !important;
  }

  .wp-block-cover {
    padding: 0px;

  }

  .wp-block-group {
    padding: 1rem 2rem;
  }

  .wp-block-columns {
    .wp-block-column {
      padding: 0px;
      margin: 0px;
    }

  }

  padding: 0px;

  li {
    padding: 0px;
    min-height: 565px;

    .ui.fluid.container.entry-content {


    }

    .wp-block-buttons {
      padding: 10px 0px;

      .wp-block-button {
        margin: 0px;
      }
    }
  }


  .carousel__dot--selected {
  }
}

.carousel__slider {
  @media screen and (max-width: 480px) {
    height: 400px !important;
  }
}

.carousel__dot-group {
  margin: 0px auto auto;
  text-align: center;


  .carousel__dot {
    pointer-events: all !important;
    background-color: #bcc3e0;
    margin: 5px;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    border: 0px !important;

  }

  .carousel__dot:hover {
    background-color: #3e8e41
  }

  .carousel__dot:focus {
    outline: none;
    box-shadow: none;
  }

  .carousel__dot:active {
    background-color: #3e8e41;
    box-shadow: none;
    transform: translateY(0px);
  }

  .carousel__dot--selected {
    background-color: #3e53a6;
  }

}


.carousel:has(.wp-block-quote) {
  .wp-block-quote {
  @media screen and (max-width: 1024px) {
    padding: $base-unit * 2.5 $base-unit * 2.5; // Adjust padding for smaller screens
    font-size: 1rem; // Smaller font size for mobile

    &:before,
    &:after {
      height: 35px !important; // Smaller icons for mobile
      width: 35px !important;
      background-size: 35px 35px !important;
    }

    &:before {
      // left: 5%; // Adjust position for smaller screens
      top: 5% !important;
    }

    &:after {
      right: 5%; // Adjust position for smaller screens
      bottom: 5%;
    }

    p {
      margin-top: $base-unit * 1.5 !important ; // Smaller margin for mobile
      margin-bottom: $base-unit * 1 !important;
    }

    cite {
      padding-right: 20px; // Adjust padding for mobile
    }
  }

  // Further scaling for very small screens (less than 480px)
  @media screen and (max-width: 480px) {
    font-size: 0.9rem !important; // Even smaller font size for very small screens
    &:before,
    &:after {
      height: 30px !important; // Further reduce icon size
      width: 30px !important;
      background-size: 30px 30px !important;
    }

    padding: $base-unit * 2.5 $base-unit * 2 !important; // Adjust padding for very small screens
  }
  }
}
