
body {
  background-color: transparent !important;
}

.d3Map {
  width: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;

  svg {
    background-color: transparent;
    cursor: pointer;
    vector-effect: non-scaling-stroke;
  }

  path {
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
  }

  .zoom.control {
    font-size: 16px;
    position: absolute;
    left: 30px;
    bottom: 50px;

    .button {
      box-sizing: border-box;
      width: 25px;
      height: 20px;
      background-color: #f6fdf6;
      height:auto;
      margin: 2px;
      cursor: pointer;
      padding: 4px;
    }
    .button:active{
      border:1px solid #c2b9b9;
      width: 24px;
      height: 19px;
    }

    .icon {
      height:auto;
    }
  }
}




