
body {
  background-color: transparent !important;
}

.d3map-container {
  .projected {
    position: relative;
    .map {
      position: relative;
      background-color: transparent;
      svg {
        background-color: transparent;
        cursor: pointer;
        vector-effect: non-scaling-stroke;
      }

      path {
        vector-effect: non-scaling-stroke;
        stroke-width: 1px;
      }

      text {
        text-anchor: middle;
        dominant-baseline: middle;
      }

    }

    .zoom {
      font-size: 16px;
      position: absolute;
      left: 30px;
      bottom: 50px;

      .button {
        box-sizing: border-box;
        width: 25px;
        height: 20px;
        background-color: #f6fdf6;
        height: auto;
        margin: 2px;
        cursor: pointer;
        padding: 4px;
      }

      .button:active {

      }

      .icon {
        height: auto;
      }
    }
  }
}


