.ui.search {
  .results {
    &.header {
      font-family: Roboto;
      color: #66676d !important;
      font-size: 10px;
      padding: 7px 7px;
      color: #616161 !important;
      margin: 0px 16px;
      border-left: none;
      border-right: none;
      font-weight: 300;
    }

    h4 {
      color: #454545;
      margin-bottom: 10px !important;
    }
  }

  >.results {
    width: 315px !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
    border: 1px solid #d4d4d5;
    border-top: none;
  }

  input.prompt {
    border-radius: 3px;
    width: 200px;
    // height: 38px !important;

    &::placeholder {
      font-size: 12px !important;
    }
  }

  .see-more-results {
    font-size: 12px;
    margin: 0px 23px;
    font-weight: 700;
    color: #4a5da8;
  }

  >.results .result {
    padding: 4px 8px 0px 19px;
  }

  .ui.search input.prompt {
    border-radius: 3px;
  }

  .ui.icon.input>input {
    border-radius: 3px;
  }

  .has-standard-12-font-size,
  .has-standard-12-font-size {
    color: #9e9e9e;
  }

  .has-standard-12-font-size:hover,
  .has-standard-12-font-size:hover {
    color: #3b5b74;
  }

  .has-standard-12-font-size h5 {
    color: #003a5b;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px !important;
    line-height: 16px;
    font-weight: 300;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .has-standard-12-font-size:hover h5 {
    color: #3b5b74;
  }

  b {
    color: #003a5b;
    font-weight: 700;
  }

  .search-content {
    color: #666666;
    font-size: 12px;
    padding-top: 8px !important;
    padding-bottom: 16px !important;

    strong {
      color: #003a5b;
    }
  }

  .results.transition.visible {
    transform: translateX(-12.3em) !important;
    margin-top: 0;
    width: 24em !important;
    overflow-y: scroll !important;
  }
}

.ui.icon.input {

  >input {
    height: 38px;
    font-size: 12px !important;
  }

  .search.icon {
    font-size: 14px !important;
  }
}

.ui.blue.segment:not(.inverted) {
  border-top: none !important;
}


.ui.segment {
  box-shadow: none;
}