
.viz.tabbed.posts.container {
  margin: 0;
  //min-height: 320px;

  @media only screen and (max-width: 480px) {
    padding: 0;
  }

  @media screen and (min-width: 769px) and (max-width:1024px) {
    .wp-block-columns-is-layout-flex {
      display: flex !important;
      flex-direction: column;
    }
  }

  .ui.container.entry-content {
    //margin: 0px;
    //padding: 25px 15px;
  }

  .label {
    font-weight: 400;
    margin: 0 !important;
    font-size: 16px;
    padding: 0 !important;
  }

  // download title spacing when in tabs
  .viz.download {
    .download-header{
      align-items: center;
      .ui.container.entry-content{
        //padding-bottom: $base-unit !important;
        //padding-top: $base-unit !important;
      }
    }
  }

}

.ui.grid.tabbed.posts {
  background-color: transparent !important;
  padding: 0 20px;

  .row {
    //max-height: 600px;
    //overflow-y: hidden;
    //overflow-x: hidden;
    border: 1.2px solid #B7B7B7;
    border-radius: 0 0 5px 5px;
    padding: 0;
    margin: 0;
    .sixteen.wide.column.content {
      overflow: hidden;
      padding: 0;
      .entry-content {
        padding: 25px 33px 0 33px;
        @media only screen and (max-width: 852px) {
          padding: 15px;
        }
      }
      .wp-data-viz-map {
        @media only screen and (max-width: 852px) {
          margin-left: -20px !important;
        }
      }

    }
  }

  > .column {
    margin: 0 0 -1px 0;
    padding: .2vw 0 0 3px;
    &:first-child{
      padding-left: 0;
    }

    button.nav {
      @include border-radii(4px, 4px, 0, 0);
      background-color: #5BAF95;
      border: 1.2px solid #B7B7B7;
      height: 45px;
      width: 100%;
      padding: 0;
      margin: 0px;
      color: $tab-text-color;
      text-align: left;
      border-bottom: none;
      transform: translateY(0.1px) !important;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      .label {
        align-self: center;
        color: #ffffff;
        background-color: transparent !important;
        font-weight: 700;
      }
    }

    .button.one.nav {
      width: auto !important;

    }
  }

  .column.has-icon {
    button.nav {
      display: flex;
      justify-content: center;
      .icon {
        border: 0px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: auto;
        float: left;
        height: 30px;
        margin: 0 3px 0 0;
        filter: invert(0) saturate(0) brightness(200%);
        opacity: 1 !important;
      }
    }
  }

  .column.active.has-icon{
    button.nav{
      .icon{
        filter: none;
        opacity: 1 !important;
      }
    }
  }

  button.nav:hover {
    background-color: #398570;
  }

  .active {
    button.nav {
      color: #ffffff;
      background-color: #ffffff !important;
      transform: translateY(0.1px) !important;
      position: relative;
      z-index: 9;
      .label{
        color: #5BAF95;
        text-align: center;
        span {
          border-bottom: 2px solid #5BAF95; /* Set the border properties as needed */
          border-radius: 0;
          padding-bottom: 2px; /* Adjust the padding to control the space between text and line */
        }
      }

    }
  }
}


.ui.menu.tabbed.posts {
  padding: 0px;
  margin: 0px;

  .item {
    margin: 0px;
    padding: 0px;
    color: $gray !important;
    border: 0px;
    font-size: 18px;

    .label {
      background-color: transparent !important;
      color: $gray;
      padding: 0px;

    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  .item.active {

    .label {
      background-color: transparent !important;
      color: $green;
      font-weight: bold;
      padding: 0;

    }

    color: $green !important;
    font-weight: 700;
    padding-left: $base-unit;

    &:after {
      color: $gray;
      font-weight: normal;
    }
  }

  a.item.active::before {
    content: '';
    background-image: url('../public/green_arrow_active.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 18px !important;
    height: 20px !important;
    background-color: transparent !important;
    display: block !important;
    position: relative !important;
    margin-left: -18px;
    margin-right: $base-unit - 2;

  }

  .item::after {
    content: '|';
    margin-left: 18px;
    margin-right: 18px
  }


}


.container.viz.tabbed.posts.editing {
  .button.nav {
    margin-top: 20px;
  }
}

.wp-block-viz-components-tabbed-posts{
  // Light tabs option
  .viz-component[data-theme='light']{
    .ui.menu.tabbed.posts{
      .item{
        .label{
          font-size: 18px;
        }
      }
    }
  }
}

.tabbed-no-padding {
  .row{
    //overflow-x: hidden;
    .sixteen.wide.column.content{
      margin: 0 !important;
      padding: 0 !important;
      .ui.fluid.container.entry-content{
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
}

.viz.tabbed.posts.container.scrollable {
  margin: 0 0 65px 0;
  .content-tab {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.tabbed-no-padding {
  .row{
    //overflow-x: hidden;
    .sixteen.wide.column.content{
      margin: 0 !important;
      padding: 0 !important;
      .ui.fluid.container.entry-content{
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
}


//Accordion style for mobile (768px wide and lower)

.viz.tabbed.posts {
  .accordion {
    border-radius: 0;
    border: 1px solid $blue;
    box-shadow: none;
    .content {
      padding: 0 !important;
    }
    .accordion-post-content {
      padding: 20px !important;
    }
    .title {
      height: 50px;
      align-content: center;
      border-top: 1px solid $blue;
      padding-left: 20px;
      img {
        width: 40px;
      }
      span {
        font-weight: 700;
        font-size: 16px;
        color: $blue;
        line-height: normal;
        padding-right: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limits the text to 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; /* Ensure that wrapping is allowed */
      }
      .chevron.down.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px; /* Ensure the container has a fixed width and height */
        height: 24px;
        color: $blue;
        font-size: 0.5em;
        margin-right: 20px;
        &::before {
          transition: transform 0.3s ease; /* Smooth rotation */
          transform-origin: center; /* Ensures rotation happens around the center */
          transform: rotate(0deg); /* Initial rotation */
        }
      }
      &:first-child {
        border-top: none;
      }
    }
    .title.active {
      background-color: $blue;
      img {
        filter: invert(0) saturate(0) brightness(200%);
      }
      span {
        color: #FFFFFF;
      }
      .chevron.down.icon {
        color: #FFFFFF;
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}
