
* {
  -webkit-print-color-adjust: exact;
}



.has-white-color {
  color: #FFF
}

.has-lightest-green-color {
  color: #dceee0
}

.has-orange-color {
  color: #fb9542
}

.has-grey-color {
  color: #9f9f9f
}

.has-regular-grey-color {
  color: #535454
}

.has-background-grey-color {
  color: #ececec
}

.has-light-blue-color {
  color: #61b0d5
}

.has-light-green-color {
  color: #52a963
}

.has-dark-green-color {
  color: #318041
}

.has-light-purple-color {
  color: #9e7fb8
}

.has-blue-color {
  color: #5c9abe
}

.has-border-color {
  color: #41a1e0
}


.has-lightest-green-background-color {
  background-color: #dceee0
}

.has-orange-background-color {
  background-color: #fb9542
}

.has-grey-background-color {
  background-color: #9f9f9f
}

.has-regular-grey-background-color {
  background-color: #535454
}


.has-background-grey-background-color {
  background-color: #ececec
}

.has-light-green-background-color {
  background-color: #52a963
}

.has-dark-green-background-color {
  background-color: #318041
}

.has-light-purple-background-color {
  background-color: #9e7fb8
}

.has-blue-background-color {
  background-color: #5c9abe
}

.has-border-background-color {
  background-color: #41a1e0
}
