
* {
  -webkit-print-color-adjust: exact;
}



.has-white-color {
  color: #FFF
}

.has-dark-orange-color {
  color: #ffb400
}

.has-light-orange-color {
  color: #fff6e1
}

.has-nav-orange-color {
  color: #fff6e1
}

.has-grey-color {
  color: #828387
}

.has-regular-grey-color {
  color: #535454
}


.has-background-grey-color {
  color: #ececec
}

.has-light-green-color {
  color: #82b38b
}

.has-vibrant-green-color {
  color: #52a963
}

.has-red-color {
  color: #ba5555
}

.has-blue-color {
  color: #5089a6
}

.has-border-color {
  color: #41a1e0
}


.has-dark-orange-background-color {
  background-color: #ffb400
}

.has-light-orange-background-color {
  background-color: #fff6e1
}

.has-nav-orange-background-color {
  background-color: #fff6e1
}

.has-grey-background-color {
  background-color: #828387
}

.has-regular-grey-background-color {
  background-color: #535454
}


.has-background-grey-background-color {
  background-color: #ececec
}

.has-light-green-background-color {
  background-color: #82b38b
}

.has-vibrant-green-background-color {
  background-color: #52a963
}

.has-red-background-color {
  background-color: #ba5555
}

.has-blue-background-color {
  background-color: #5089a6
}

.has-border-background-color {
  background-color: #41a1e0
}