.container.tcdi.footer {
  background-color: $light-blue;
  margin-top: 100px;
  line-height: 16px !important;

  .bottom-bar {
    background-color: #175372;
    color: #ffffff;
    left: 0;
    margin-top: -20px;
    padding: 20px 0 50px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
  }

  .footer-cover{
    border-top: 1px solid $separator-grey;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-top: $base-unit * 3;
    padding-bottom: $base-unit * 3;
    a{
      color: #acdef7;
    }
    .wp-block-columns{
      margin-bottom: 0;
    }
    .bottom-bar-container{
      margin: auto;
      max-width: 1300px;
    }
  }
  .attribution-icon{
    display: block;
    float: right;
    margin-right: 1em;
    min-width: 85px;
  }
  .bottom-menu{
    border-bottom: 1px solid #7498aa;
    display: inline-block;
    padding-bottom: $base-unit * 2;
    a{
      margin-right: $base-unit * 2;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }

  .column {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  .header {
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin: 0px;
  }

  p {
    font-weight: 400;
    color: white;


    a {
      color: #ffffff;

      &:hover {
        color: #f0f0f0;
      }
    }
  }

  .tcdi.secondary-menu.container {
    background-color: #175372;
    text-align: center;
  }
}
