.time.line {
  foreignObject{
    >div{
      //font-weight: 900;
    }
  }
  .tooltip {
    margin: 60px auto auto auto;
    border:1px solid transparent;
      a {
      pointer-events: all;
    }
    height: auto;
    width: 625px;
    z-index: 1000;
    .tooltip{
      @include border-radius(15px);
      padding: 15px;
      width: $extend;
    }
    .wp-block-columns {
      margin-bottom: 0px;
    }
    p {
      color: #fff;
      pointer-events: none;
    }

    img{
      @include border-radius(15px);
    }

  }
  .pointer{
    position: absolute;

    top: 50%;
    width: 0;
    height: 0;

  }
  text{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;

  }
  text, circle {
    cursor: pointer;
    pointer-events: all;
  }
}
