
.top-navigator{
  background-color: $dc-dark-grey;
  right: 0px !important;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.top-navigator:hover {
  background-color: lighten($dc-dark-grey, 5%);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition : 471ms;
  transform : translateY(-5px);
}

