@import '../vars';

.desktop {
  margin: 0 !important;
  width: 100%;
  //background-color: #FAF6EC !important;
}

.ui.container {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.entry-content {
  width: 100%;
}

.breadcrumbs {
  display: none;
}

.wp-block-image.aligncenter {
  text-align: center;
  margin:auto;
}

.font-title {
  font-family: $font-titles !important;
}

.cta-buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  .cta-primary-button {
    border: 1px solid $dc-green;
    border-radius: 3px;
    color: white;
    background-color: $dc-green;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .cta-primary-button:hover {
    transition : 471ms;
    padding: 10px 30px;
    transform : translateY(-5px);
    background-color: darken($dc-green, 8%);
  }

  .cta-secondary-button {
    border: 1px solid $dc-green;
    border-radius: 3px;
    color: $dc-green;
    //background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .cta-secondary-button:hover {
    transition : 471ms;
    padding: 10px 30px;
    transform : translateY(-5px);
    color: darken($dc-green, 8%);
    border: 1px solid darken($dc-green, 8%);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

//styles for the buttons that are NOT inside the intro banner:
.cta-buttons-internal {
  position: absolute;
  width: 100vw;
  left: 0;
  .cta-secondary-button {
    color: white;
  }
  .cta-secondary-button:hover {
    color: white;
    border: 1px solid darken($dc-green, 8%);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.wp-block-cover {
  padding: 150px 0 0 18vw;
  margin: 0;
  display: flex;

  .wp-block-cover__inner-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-self: start;
  }

  .wp-block-separator {
    width: 537px;
    margin: 0;
  }

  .dc-cover-rotate {
    transform: rotate(-90deg) translateX(-20px);
    margin: 0 0 -120px -60px;
    height: 300px;


    .wp-block-separator {
      width: 189px;
    }
  }

  .dc-cover-paragraph{
    margin-left: -150px;
    padding: 0 18vw 0 0;
  }

}