.container.header {
  background-color: transparent;
  height: var(--header-height);
  padding: 0px;
  margin: 0px;
  position: relative;

  .ui.text.branding.menu {
    position: relative;
  }

  .brand.logo {
    display: block;
    height: 39px;
    cursor: pointer;
  }

  .ui.search {
    position: fixed;
    right: 30px;
  }

  .menu.pages {
    position: absolute;
    right: 1.7vw;
    font-size: 0.85rem;
    padding-top: 16px;

    .item.divided {
      font-size: 0.85rem;
      font-weight: 400 !important;
      padding: 0 25px 0 25px;
      border-left: 1px solid $mbd-accent-green;;
      a {
        color: $mbd-light-teal;
      }
      a:hover {
        color: #FFFFFF;
      }
    }
    .item.divided:first-of-type {
      border-left: 0;
    }

    .item.divided.selected.active {
      a {
        color: #FFFFFF;
      }
    }
  }

  .menu, .branding {
    margin: 0;
    padding: 20px 0 0 30px;
    position: relative;

    .divider {
      display: none;
    }

    .flag {
      display: none;
    }

    .site.name {
      color: $dc-main-blue;
      font-size: 1rem;
      padding: 0 0 0 5px;
      font-weight: 800;
    }
  }
}