.partners-wrapper {
    background-color: #ffffff !important;
    padding: 1em;
    margin: 0 !important;
    .partners-image {
        margin-bottom: 0.8em !important;
    }
    .partners-info {
        .partners-info-description {
            color:#373d4b !important;
            margin-bottom: 0.8em !important;
        }
        .partners-info-read-more {
            color:#373d4b !important;
        }
    }
}

.partners-navigation {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
