.cashew-structure-header {
    height: 3.6em;
    background-color: #f6faf5;
    border-top: 1px solid #e6e7ec;
    padding: 1em;
}

.cashew-structure-title {
    padding-bottom: 0em;
    padding-left: 0.4em;
}

.cashew-structure-content {
    padding-left: 0.6em;
    div:last-child {
        margin-bottom: 0em;
    }
}

.cashew-structure-date {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 0em;
}
