
.viz.tabbed.posts.container {
  margin: 0px;
  min-height: 250px;
  padding: 0 20px;

  .ui.container.entry-content {
    margin: 0px;
    padding: 25px 15px;
  }

  .label {
    display: none;
  }
}

.ui.grid.tabbed.posts {
  .list-icon {
    background-color: $dc-dark-grey;
    width: 7px !important;
    height: 7px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
  }
  > .column {
    padding: 0;

    button.nav {
      height: 250px !important;
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border-radius: 0;
      border-bottom: solid 9px transparent;
      .ui.image.icon {
        height: 200px;
      }
    }
  }

  .active {
    button.nav {
      border-bottom: solid 9px #365967;
    }
  }
}